[buildout]
extends =
    http://dist.plone.org/release/4.3-latest/versions.cfg
    buildout.d/checkouts.cfg
    buildout.d/sources.cfg

show-picked-versions = true
allow-picked-versions = true

extensions = mr.developer
parts =
    instance
    test
    code-analysis
    releaser
    omelette
develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    ipdb
    collective.querynextprev [test]


[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/collective
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
flake8-max-line-length = 119
flake8-extensions =
    flake8-blind-except
    flake8-debugger
    flake8-coding


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'collective.querynextprev', '--auto-color', '--auto-progress']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[versions]
# always use last versions for setuptools and zc.buildout
setuptools =
zc.buildout =
zc.recipe.egg =
coverage = 3.7.1
createcoverage = 1.4

#tests
plone.app.robotframework = 0.9.15
robotframework = 3.0
robotframework-debuglibrary = 0.4
robotframework-selenium2library = 1.7.4
robotframework-selenium2screenshots = 0.6.0
robotsuite = 1.7.0
selenium = 2.53.1
sphinxcontrib-robotframework = 0.5.1
