/* Schéma */

    /* Position */

    /* Dimensions */

    /* Style */

    /* For child properties */


/*
    ##################################################
    ##################### GENERAL ####################
    ##################################################
*/

html {

    body {

        main#principal-main {
            /* Position */

            /* Dimensions */
            padding-top: 100px;
            padding-bottom: 100px;

            /* Style */

            /* For child properties */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            a#create-instance-button {
                /* Position */
                padding: 5px;

                /* Dimensions */
                width: 200px;

                /* Style */
                color: white;
                background: #505050;

                /* For child properties */
                display: flex;
                justify-content: center;
                align-items: center;


                &:hover {
                    background: lighten(#505050, 20);
                }


                i {
                    font-size: 40px;
                }
            }


            table, th, td {
                /* Position */

                /* Dimensions */

                /* Style */
                border-style: solid;
                border-width: 1px;
                border-color: #505050;
                border-collapse: collapse;

                /* For child properties */
            }


            th {
                /* Position */
                padding: 10px;

                /* Dimensions */

                /* Style */
                background-color: #505050;
                color: white;
                border-color: white;

                /* For child properties */
            }


            td.true_td {
                background-color: lightgreen;
            }


            td.false_td {
                background-color: lightpink;
            }


            td a {
                /* Position */
                padding: 10px;

                /* Dimensions */
                display: block;

                /* Style */
                color: black;
                text-align: center;
                transition-duration: 50ms;

                /* For child properties */
            }


            td a:hover {
                color: #3f56ff;
                transform: scale(1.05);
            }


            div#ajax-loading-box {
                display: flex;
                flex-direction: column;
                align-items: center;


                p#no-more-message {
                    /* Position */
                    margin-top: 38.5px;
                    padding: 10px;

                    /* Style */
                    font-size: $s-fs;
                    color: $grey;
                }


                #loader {
                    margin-top: 38.5px;
                    width: 112px;
                    height: 112px;
                    transform: scale(0.5);
                }

                #loader .box1,
                #loader .box2,
                #loader .box3 {
                    border: 16px solid $grey;
                    box-sizing: border-box;
                    position: absolute;
                    display: block;
                }

                #loader .box1 {
                    width: 112px;
                    height: 48px;
                    margin-top: 64px;
                    margin-left: 0px;
                    animation: anime1 4s 0s forwards ease-in-out infinite;
                }

                #loader .box2 {
                    width: 48px;
                    height: 48px;
                    margin-top: 0px;
                    margin-left: 0px;
                    animation: anime2 4s 0s forwards ease-in-out infinite;
                }

                #loader .box3 {
                    width: 48px;
                    height: 48px;
                    margin-top: 0px;
                    margin-left: 64px;
                    animation: anime3 4s 0s forwards ease-in-out infinite;
                }

                @-moz-keyframes anime1 {
                    0% {
                        width: 112px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    12.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    25% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    37.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    50% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    62.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    75% {
                        width: 48px;
                        height: 112px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    87.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    100% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }
                }

                @-webkit-keyframes anime1 {
                    0% {
                        width: 112px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    12.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    25% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    37.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    50% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    62.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    75% {
                        width: 48px;
                        height: 112px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    87.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    100% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }
                }

                @-o-keyframes anime1 {
                    0% {
                        width: 112px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    12.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    25% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    37.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    50% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    62.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    75% {
                        width: 48px;
                        height: 112px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    87.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    100% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }
                }

                @keyframes anime1 {
                    0% {
                        width: 112px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    12.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    25% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    37.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    50% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    62.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }

                    75% {
                        width: 48px;
                        height: 112px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    87.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    100% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }
                }

                @-moz-keyframes anime2 {
                    0% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    12.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    25% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    37.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    50% {
                        width: 112px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    62.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    75% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    87.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    100% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }
                }

                @-webkit-keyframes anime2 {
                    0% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    12.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    25% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    37.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    50% {
                        width: 112px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    62.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    75% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    87.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    100% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }
                }

                @-o-keyframes anime2 {
                    0% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    12.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    25% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    37.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    50% {
                        width: 112px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    62.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    75% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    87.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    100% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }
                }

                @keyframes anime2 {
                    0% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    12.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    25% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    37.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    50% {
                        width: 112px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }

                    62.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    75% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    87.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    100% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }
                }

                @-moz-keyframes anime3 {
                    0% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    12.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    25% {
                        width: 48px;
                        height: 112px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    37.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    50% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    62.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    75% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    87.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    100% {
                        width: 112px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }
                }

                @-webkit-keyframes anime3 {
                    0% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    12.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    25% {
                        width: 48px;
                        height: 112px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    37.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    50% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    62.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    75% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    87.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    100% {
                        width: 112px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }
                }

                @-o-keyframes anime3 {
                    0% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    12.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    25% {
                        width: 48px;
                        height: 112px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    37.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    50% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    62.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    75% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    87.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    100% {
                        width: 112px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }
                }

                @keyframes anime3 {
                    0% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    12.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    25% {
                        width: 48px;
                        height: 112px;
                        margin-top: 0px;
                        margin-left: 64px;
                    }

                    37.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    50% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    62.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    75% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    87.5% {
                        width: 48px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 64px;
                    }

                    100% {
                        width: 112px;
                        height: 48px;
                        margin-top: 64px;
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}
